{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/instructors">
      <section class="avatar" style="background: url(https://source.unsplash.com/collection/4836861/500x500) no-repeat center center / cover">
      </section>  
      <section class="details">

        <h3>New Instructor</h3>

        <div class="item">
          <div>Avartar URL</div>
          <div>
            <input type="url" name="avatar_url" placeholder="http://">
          </div>
        </div>

        <div class="item">
            <div>Instructor</div>
            <div>
                <input type="text" name="name" placeholder="Instructor Name´s">
            </div>
        </div>

        <div class="item">
          <div>Bithrday</div>
          <div>
            <input type="date", name="birth">
          </div>
        </div>

        <div class="item">
          <div>Gender</div>
          <div>
            <span><input type="radio" name="gender" value="M" checked> Male </span>
            <span><input type="radio" name="gender" value="F"> Female </span>
          </div>
        </div>

        <div class="item">
          <div>Action area </div>
          <div>
            <input type="text" name="services" placeholder="Prepare the services provided by commas">
          </div>
        </div>

        <button type="submit">Save</button>

      </section>  
    </form
{% endblock content %}