{% extends "layout.njk" %}

{% block content %}
    <div class="card">
      <table>
        <thead>
          <tr>
            <th>Instructor</th>
            <th>Attendance</th>
          </tr>
        <thead>
      </table>
    </div
{% endblock content %}